.user-page {
  width: 50vw;
  background-image: url('../../../assets/phpD3T7bN.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  padding: 20px;
  height: 600px;
  &__personal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      color: rgb(159, 159, 190);
      margin-bottom: 20px;
    }
  }
  &__game-history {
    border-top: 1px solid;
    width: 40vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    & > * {
      color: rgb(159, 159, 190)
    }
    &__label {
      font: 400 24px system-ui;
      margin-bottom: 30px;
    }
    &__labels {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__item {
        font: 300 15px system-ui
      }
    }
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}