.game__chat {
  height: 36vw;
  width: 20vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  &__input {
    display: flex;
    flex-direction: column;

    &__message {
      height: 25px !important;
      background-color: rgb(223, 210, 234);
      border: 0px;
      font-size: 18px;
    }

    .MuiButton-root {
      height: 30px;
    }

    &__quick-messages {
      display: flex;

      .MuiButtonGroup-root {
        height: 30px;
        width: 27vw;

        button {
          width: 34% !important;
        }
      }
    }
  }
  &__messages {
    height: 70vh;
    background-color: rgba(154, 136, 173, 0.459);
    padding: 10px;

    &__item {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      
      &-name {
        font: 500 15px system-ui;
        margin-right: 10px;
      }

      &-message {
        font: 200 14px system-ui
      }

      &-time {
        font: 500 14px system-ui;
        margin-left: auto;
        margin-right: 10px;
      }
    }
    &__item * {
      color: rgb(214, 187, 253);;
    }
  }
}